PetrixSisClient/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51294/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca" />
  <xs:element name="CadastrarAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="animal" nillable="true" type="q1:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="animal" nillable="true" type="q2:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnimal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ListarAnimalResult" nillable="true" type="q3:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ds" nillable="true" type="q4:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAnimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="BuscarAnimalResult" nillable="true" type="q5:ArrayOfAnimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarAnimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="animal" nillable="true" type="q6:Animal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarAnimalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anu" nillable="true" type="q7:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarAnuncioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anu" nillable="true" type="q8:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarAnuncioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnuncio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnuncioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ListarAnuncioResult" nillable="true" type="q9:ArrayOfAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anu" nillable="true" type="q10:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAnuncioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="BuscarAnuncioResult" nillable="true" type="q11:ArrayOfAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnuncioDatas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anuDtMin" nillable="true" type="q12:Anuncio" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anuDtMax" nillable="true" type="q13:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnuncioDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ListarAnuncioDatasResult" nillable="true" type="q14:ArrayOfAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anu" nillable="true" type="q15:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarAnuncioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnuncioParceiro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="anuParceiro" nillable="true" type="q16:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAnuncioParceiroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ListarAnuncioParceiroResult" nillable="true" type="q17:ArrayOfAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="tipo" nillable="true" type="q18:Tipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarTipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="tipo" nillable="true" type="q19:Tipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarTipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ListarTipoResult" nillable="true" type="q20:ArrayOfTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ds" nillable="true" type="q21:Tipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="BuscarTipoResult" nillable="true" type="q22:ArrayOfTipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="tipo" nillable="true" type="q23:Tipo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarTipoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="user" nillable="true" type="q24:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="user" nillable="true" type="q25:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="ListarUsuarioResult" nillable="true" type="q26:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="usu" nillable="true" type="q27:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q28:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="user" nillable="true" type="q29:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParceiros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Biblioteca" minOccurs="0" name="parceiro" nillable="true" type="q30:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarParceirosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>