PetrixSisClient/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anuncio" nillable="true" type="tns:ArrayOfAnuncio" />
      <xs:element minOccurs="0" name="ds_animal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_animal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="ArrayOfAnuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anuncio" nillable="true" type="tns:Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncio" nillable="true" type="tns:ArrayOfAnuncio" />
  <xs:complexType name="Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Animal" nillable="true" type="tns:Animal" />
      <xs:element minOccurs="0" name="Imagem_Anuncio" nillable="true" type="tns:ArrayOfImagem_Anuncio" />
      <xs:element minOccurs="0" name="Localidade" nillable="true" type="tns:Localidade" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:Usuario" />
      <xs:element minOccurs="0" name="conteudo_anun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data_anun" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email_anun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fk_Animal_id_animal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="fk_Localidade_id_local" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="fk_Usuario_id_user" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_anun" type="xs:int" />
      <xs:element minOccurs="0" name="telefone_anun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo_anun" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anuncio" nillable="true" type="tns:Anuncio" />
  <xs:complexType name="ArrayOfImagem_Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Imagem_Anuncio" nillable="true" type="tns:Imagem_Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagem_Anuncio" nillable="true" type="tns:ArrayOfImagem_Anuncio" />
  <xs:complexType name="Imagem_Anuncio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anuncio" nillable="true" type="tns:Anuncio" />
      <xs:element minOccurs="0" name="caminho_imagem_anun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fk_Anuncio_id_anun" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_imagem_anun" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Imagem_Anuncio" nillable="true" type="tns:Imagem_Anuncio" />
  <xs:complexType name="Localidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anuncio" nillable="true" type="tns:ArrayOfAnuncio" />
      <xs:element minOccurs="0" name="ds_local" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_local" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Localidade" nillable="true" type="tns:Localidade" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anuncio" nillable="true" type="tns:ArrayOfAnuncio" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="tns:Tipo" />
      <xs:element minOccurs="0" name="cfp_user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cnpj_user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email_user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endereco_user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fk_Tipo_id_tipo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
      <xs:element minOccurs="0" name="nome_user" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="site_user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="Tipo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="tns:ArrayOfUsuario" />
      <xs:element minOccurs="0" name="ds_tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tipo" nillable="true" type="tns:Tipo" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="ArrayOfAnimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Animal" nillable="true" type="tns:Animal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnimal" nillable="true" type="tns:ArrayOfAnimal" />
  <xs:complexType name="ArrayOfTipo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tipo" nillable="true" type="tns:Tipo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipo" nillable="true" type="tns:ArrayOfTipo" />
</xs:schema>